{% macro mdg_navigation(config) %}
 
{# config options : {
	"menuId": {object} => name of the menu,
	"type": "string" => menu type, "top", "main", "footer" ,
	"display": "string" => menu orientation (for main menu only) "horizontal", "vertical",
    "allowChildren": boolean => accept or not submenus
    "rich": boolean => submenus display mode ( true : rich , false : columns) 
} #}

{% if config.menuId %}
{% set menu = config.menuId %}
{% set level = 0 %}
<div id="mdg-component-{{ config.type }}-navigation-{{ menu.slug }}" class="mdg-{{ config.type }}-navigation ">
    <div class="mdg-{{ config.type }}-navigation__layout">
        {% if config.type == "main" %}
            <button  class="js-active-menu js-active-overlay mdg-{{ config.type }}-navigation__open-btn" aria-expanded="false" aria-controls="{{ menu.slug }}" data-listtarget="{{ menu.slug }}"  aria-label="Ouvrir ou Fermer le {{ menu.name }}">
                    <span class="dashicons dashicons-menu menu-icon-open">&nbsp;</span><span class="dashicons dashicons-no menu-icon-close">&nbsp;</span>
            </button>
        {% endif %}
        <nav id="{{ menu.slug }}"  class=" mdg-{{ config.type }}-navigation__menu js-toggle-menu {{ menu.slug }} mdg-{{ config.type }}-navigation__menu--{{ config.display }}"  aria-label="{{ menu.name }}" role="navigation" >
       
            <ul class="mdg-{{ config.type }}-navigation__list">
                {% for item in menu.get_items %}
                    <li class=" mdg-{{ config.type }}-navigation__item  {% if item.children %}mdg-{{ config.type }}-navigation__item--has-children{% endif %} cat-{{ item.id }} mdg-{{ config.type }}-navigation__item--child-of-{{item.menu_item_parent}} {% if item.current %} mdg-{{ config.type }}-navigation__item--current{% endif %}">
                        <a target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>
                        {% if config.allowChildren %}
                            {% include "templates/macros/common/mdg-navigation/include/menu.twig" with {'item': item, 'items': item.children, 'level': level, 'type': config.type, 'rich': config.rich} %}
                        {% endif %}
                        </li>
                {% endfor %}
            </ul>
    
        </nav>
    </div>
</div>
{% endif %}
{% endmacro %}